
/*Pagina Incial (Geral)*/
* {
	font-family: Arial, sans-serif; 
}

img {
	max-width: 60px;
	float: left
}
/*--- Cabeçalho | Header --- */
.azul-padrao {
	background: #0080c6;
}
.azul-escuro {
	background: #005aaa;
}
.txt-white
{
	color: white;
}
.logo-sus {
 margin-top: 15px;
}

.shadow {
	text-shadow: 0.1em 0.1em 0.1em #0059aa /*#0059aa*/;
}

.titulo {
	display: block;
  font-size: 2.25em;
	font-weight: normal;
	margin-left: 80px;
	margin-bottom: 0px;
}
.sub-titulo {
	font-weight: normal;
	margin-top: 10px;
}
/* --- Área de Login ---*/
/* Botoao de Seleção */
/*Container do botao de login e senha*/
.select {
	margin: 10px 0;
}
/*Icones*/
i {
	background: #0059aa;
	padding: 0.4375em;
	
}
/* input */
input, select {
	/* position: absolute;*/
	padding: 4px 0;
	font-size: 1em;
	max-width: 150px;
	font-weight: bold;
	color: #0059aa;
}

.password {
	display: inline-block;
}
select {
	cursor: pointer;
	color: #0059aa;
}

/* Botao */
button {
	padding: 4px 10px;
	font-size: 1em;
	font-weight: bolder;
	background: #2e8009;
	color: #fff;
	cursor: pointer;
	border-color: #0080c6;
	margin-bottom: 20px;
}
button:hover {
	background: #338C0A;
}
/*Pagina de Navegação*/

/*Quando o mouse passar pelo item do menu*/
label {
	display: none;
}
#menu {
	display: none;
}

.menu-nav a:hover {
	background:  #0071D4;
	text-shadow: 0.1em 0.1em 0.1em #0059aa;
}
/*botão ativo*/
#ativo {
	background: #0071D4;
	border-bottom: #B59509 solid 4px;
	text-shadow: 0.1em 0.1em 0.1em #0059aa;
}



/*Botao do Menu*/
.menu-nav > a { 
	text-decoration: none;
	float: left;
	color: #fff;
	padding: 15px;
	font-size: 1.125em;
	background: #0060b6;
	width: 15%;
	text-align: center;
}
/*Data*/
.data  {
	color: #005aaa;
	font-size: 1.125em;
}

/*Seção de Conteudo*/
.conteudo {
	background:#ceedff;
	min-height: 350px;
}
/* Conteudo Titulo */
.ct-titulo {
	text-decoration: none;
	color: #0060b6;
	font-size: 1.15em;
	font-weight: bold;	
}


/* Conteudo Texto */
.ct-texto {
	text-decoration: none;
	color: #0060b6;
	font-size: 1.125em;
	margin-top: 1px;
}

/*Botao de noticias*/
.etiqueta > h3 {
	padding-left: 0 15px;
	margin: 0;
	line-height: 27px;
	background: #dc3545;
	color: #fff;
	font-size: 0.80em;
	text-transform: uppercase;
	float: left;
	margin-bottom: 20px;
	padding: 0 10px;
	letter-spacing: 1px;
}
.etiqueta > a {
	float: left;
	background: #aa0102;
	color: #fff;
	line-height: 27px;
	padding: 0 10px;
	display: block;
	text-decoration: none;
	font-weight: bolder;
}

.etiqueta > a:hover {
	background: #dc3545;
	color: #fff;
	text-decoration: none;
}

/* Footer - Cabecalho */

.brasao {
	max-width: 39px;
	height: auto;
	display: block;
	padding-top: 5px;
	margin-right: 10px;
}

.contato {
	margin-right: 1.875em;
	float: left;
}



