/*Pagina Incial (Geral)*/
* {
	box-sizing: border-box;
	font-family: Arial;
}
/*Visualizar a borda das divs*/

img {
	max-width: 100%;
	display: block;
	float: left
}

/*Cabeçalho*/

.header {
	background: #0080c6;
}
header > div {
	color: #fff;
}
.logo {
	margin-top: 15px;
}

.titulo {
	display: block;
    font-size: 2.25em;
	font-weight: normal;
	margin-left: 110px;
	margin-bottom: 0px;
}
.sub-titulo {
	font-weight: normal;
	margin-top: 10px;

}

/*Pagina de Navegação*/
.menu {
	background: #005aaa;
}
.menu-nav {
	padding-left: 10px;
}

/*Quando o mouse passar pelo item do menu*/

.menu-nav a:hover {
	background:  #0080c6;

}
/*botão ativo*/
#ativo {
	background: #0080c6;
	border-bottom: #B59509 solid 4px;
}


/*Botao do Menu*/
.menu-nav > a { 
	text-decoration: none;
	float: left;
	color: #fff;
	padding: 15px;
	margin-right: 25px;
	font-size: 1.125em;
	background: #0060b6;
	width: 15%;
	text-align: center;
}
/*Data*/
.data  {
	color: #005aaa;
	font-size: 1.125em;
}


/*Seção de Conteudo*/

.conteudo {
	background:#ceedff;
	min-height: 350px;
}
/* Conteudo Titulo */
.conteudo-titulo {

	text-decoration: none;
	color: #0060b6;
	font-size: 1.15em;
	font-weight: bold;	
}


/* Conteudo Texto */
.conteudo-texto {
	text-decoration: none;
	color: #0060b6;
	font-size: 1.125em;
	margin-top: 1px;

}



/* Footer - Cabecalho */
.footer {
	background: #0080c6;
	color: #fff;
}

.brasao {
	max-width: 39px;
	height: auto;
	display: block;
	padding-top: 5px;
	margin-right: 10px;
}



footer > p {
	color: white;
	float: left;
}
.contato {
	margin-right: 1.875em;
	float: left;
}
